{% extends 'views/base-authenticated.html' %}

{% block header %}
  <h1>{% block title %}Daily Fun Fact{% endblock %}</h1>
{% endblock %}
{% block icon %}
  <link rel="icon" type="image/x-icon" href="../static/assets/daily_fact.svg">
{% endblock %}

{% block content %}
    <div class="apod">
        <div id="apod_left">
            <img src="{{ hd_url }}" alt="Astronomy Picture of the Day">
        </div>
        <div id="apod_right">
            <h2>{{ title }}</h2>
            <p>{{ explanation }}</p>
            <button onclick="window.location.href=`{{ url_for('apod')}}`" class="btn-favorite">Refresh</button>
            <br>
            <form method="POST" action="">
              {{ image_form.hidden_tag() }}
                {{ image_form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}
