{% extends 'views/base-unauthenticated.html' %}

{% block header %}
  <h1>{% block title %}Jupiter - The Giant Planet{% endblock %}</h1>
{% endblock %}
{% block icon %}
  <link rel="icon" type="image/x-icon" href="../static/assets/planet.svg">
{% endblock %}


{% block content %}
    <div class="planets-container">
        <div class="planets-1">
           <h1>Jupiter</h1>

             <p>Jupiter is, by far, the largest planet in the solar system – more than twice as massive as all the other planets combined.</p>

                <ul>
                    <li>- 95 Moons.</li>
                    <li>- 3 Missions on Deck.</li>
                    <li>- One day on Jupiter goes by in just 10 hours.</li>
                    <li>- One year on Jupiter is the same as 11.8 Earth years.</li>
                </ul>
        </div>
        <div class="planets-2">
           <img src="../static/assets/jupiter.jpg" alt="jupiter" >
        </div>
        <div class="planets-3">
            <p><strong>Jupiter</strong>— is the fifth planet from our Sun and is, by far, the largest planet in the solar system – more than twice as massive as all the other planets combined. Jupiter's stripes and swirls are actually cold, windy clouds of ammonia and water, floating in an atmosphere of hydrogen and helium. Jupiter’s iconic Great Red Spot is a giant storm bigger than Earth that has raged for hundreds of years. Jupiter is named for the king of the ancient Roman gods.</p>
        </div>


    </div>
{% endblock %}

