{% extends 'views/base-unauthenticated.html' %}

{% block header %}
  <h1>{% block title %}Neptune - The Distant Giant{% endblock %}</h1>
{% endblock %}
{% block icon %}
  <link rel="icon" type="image/x-icon" href="../static/assets/planet.svg">
{% endblock %}


{% block content %}
    <div class="planets-container">
        <div class="planets-1">

            <h1>Neptune</h1>

            <p>The first planet discovered with math.</p>

            <ul>
                <li>- 14 Moons.</li>
                <li>- 1 Mission.</li>
                <li>- One day on Neptune goes by in 16 hours.</li>
                <li>- Neptune has such a long journey around the Sun it takes 165 Earth years to go around once. </li>
            </ul>
        </div>
        <div class="planets-2">
            <img src="../static/assets/Neptune.jpg" alt="Neptune">
        </div>
        <div class="planets-3">
             <p><strong> Neptune</strong>—Dark, cold, and whipped by supersonic winds. Giant Neptune is the eighth and most distant major planet orbiting our Sun. More than 30 times as far from the Sun as Earth, Neptune is not visible to the naked eye. In 2011, Neptune completed its first 165-year orbit since its discovery. The planet’s rich blue color comes from methane in its atmosphere, which absorbs red wavelengths of light but allows blue ones to be reflected back into space.</p>
        </div>


    </div>
{% endblock %}

