{% extends 'views/base-unauthenticated.html' %}

{% block header %}
  <h1>{% block title %}Pick the date{% endblock %}</h1>
{% endblock %}
{% block icon %}
  <link rel="icon" type="image/x-icon" href="../static/assets/planet.svg">
{% endblock %}


{% block content %}
    <br>
    <h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pick the date:</h2>
    <div class="pick-date-dive">
        <form method=post name="date">
            {{ form.hidden_tag()}}
            {{ form.selected_date }}
            {{ form.submit()}}
        </form>
    </div>
{% endblock %}

