.apod{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

#apod_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    float: left;
}
#apod_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}

#apod_left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#apod_right p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-grey);
    margin: 0.5rem;
    width: 100%;
    height: 530px;
}

#apod_right h2 {
    font-size: 2rem;
    color: var(--dark-grey);
    margin: 0.5rem;
    font-weight: bold;

}
.btn-refresh{
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    margin: 0.5rem;
    width: 100px;
    height: 50px;
    float: right;
}
.btn-favorite{
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    align-items: center;
    border: none;
    margin-left: 50px;
}
.btn-constellation{
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    margin: 0.5rem;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    border: none;
}

.constellation-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 100%;
    height:60px;
    float: left;
}


@media (max-width:720px){
    .apod{
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    #apod_right{
        width: 100%;
        height: 100%;
        font-size: 50%;
    }
    #apod_right p {
        font-size: 1rem;
        font-weight: 500;
        color: var(--dark-grey);
        margin: 0.5rem;
        width: 100%;
        height: 100%;
    }
    .btn-refresh{
        display: block;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: center;
        padding: 0.6rem 1.4rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        margin: 0.5rem;
        width: 100px;
        height: 50px;
        float: right;
    }
    .btn-favorite{
        display: block;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        width: 100px;
        height: 50px;
        align-items: center;
        border: none;
        margin-left: 50px;
    }
    .btn-constellation{
        display: block;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        margin: 0.5rem;
        width: 100px;
        height: 50px;
        margin-left: 100px;
        border: none;
    }

}

@media (max-width: 1100px) {
    .apod{
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    #apod_right{
        width: 100%;
        height: 100%;
        font-size: 50%;
    }
    #apod_right p {
        font-size: 1rem;
        font-weight: 500;
        color: var(--dark-grey);
        margin: 0.5rem;
        width: 100%;
        height: 100%;
    }
    .btn-refresh{
        display: block;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: center;
        padding: 0.6rem 1.4rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        margin: 0.5rem;
        width: 100px;
        height: 50px;
        float: right;
    }
    .btn-favorite{
        display: block;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        width: 100px;
        height: 50px;
        align-items: center;
        border: none;
        margin-left: 50px;
    }
    .btn-constellation{
        display: block;
        background-color: var(--primary-color);
        color: var(--white);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        margin: 0.5rem;
        width: 100px;
        height: 50px;
        margin-left: 100px;
        border: none;
    }
}