<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatibile" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
      <title>{% block title %}A website for NASA Stuff{% endblock %} </title>
      <script src="https://kit.fontawesome.com/47980699af.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      {%block icon %}<link rel="icon" type="image/x-icon" href="../static/assets/NASA.svg">{% endblock %}
      {% block sript %}{% endblock %}
  </head>
<body>
 <header id="nav-menu" aria-label="navigation bar">
      <div class="container_header">
        <div class="nav-start">
          <a class="logo" href="/">
            <img src="{{ url_for('static', filename='assets/NASA.svg') }}" width="35" height="35" alt="NASA Logo" />
          </a>
          <nav class="menu">
            <ul class="menu-bar">
              <li>
                <button class="nav-link dropdown-btn" data-dropdown="dropdown1" aria-haspopup="true" aria-expanded="false" aria-label="browse" >
                  Browse
                  <i class="bx bx-chevron-down" aria-hidden="true"></i>
                </button>
                <div id="dropdown1" class="dropdown">
                  <ul role="menu">
                    <li role="menuitem">
                      <a class="dropdown-link" href="{{ url_for('apod')}}">
                        <img src="../static/assets/daily_fact.svg" class="icon" />
                        <div>
                          <span class="dropdown-link-title">Daily Fun Fact</span>
                          <p>Fun Fact That Changes Daily</p>
                        </div>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="{{ url_for('world_map')}}" target="_blank">
                        <img src="../static/assets/planet.svg" class="icon" />
                        <div>
                          <span class="dropdown-link-title">World Map of Cataclysm</span>
                          <p>Live interactive world map showing ongoing cataclysms </p>
                        </div>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#subscriptions">
                        <img src="../static/assets/tick.svg" class="icon" />
                        <div>
                          <span class="dropdown-link-title">PlaceHolder</span>
                          <p>PlaceHolder</p>
                        </div>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#creative-feed">
                        <img src="../static/assets/tick.svg" class="icon" />
                        <div>
                          <span class="dropdown-link-title">PlaceHolder</span>
                          <p>PlaceHolders</p>
                        </div>
                      </a>
                    </li>
                  </ul>

                  <ul role="menu">
                    <li class="dropdown-title">
                      <span class="dropdown-link-title">Browse by Charts</span>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="{{ url_for('display_planetary_candidates')}}">
                        <img src="../static/assets/chart_icon.svg" />
                        Planetary Candidates
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="{{ url_for('display_near_earth_objects')}}">
                        <img src="../static/assets/chart_icon.svg" />
                        Near Earth Objects
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="{{ url_for('display_asteroid_diagram')}}">
                        <img src="../static/assets/chart_icon.svg" />
                        Diagram of Asteroids
                      </a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="{{ url_for('display_planet_masses')}}">
                        <img src="../static/assets/chart_icon.svg" />
                        Planet Masses
                      </a>
                    </li>
                    <li role="menuitem">
                     <a class="dropdown-link" href="{{ url_for('display_cameras_diagrams')}}">
                        <img src="../static/assets/chart_icon.svg" />
                        Diagram of Cameras
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="nav-link dropdown-btn" data-dropdown="dropdown2" aria-haspopup="true" aria-expanded="false" aria-label="discover">
                  Discover
                  <i class="bx bx-chevron-down" aria-hidden="true"></i>
                </button>
                <div id="dropdown2" class="dropdown">
                  <ul role="menu">
                    <li>
                      <span class="dropdown-link-title">Browse Categories</span>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#mercury">Mercury</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#venus">Venus</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#earth">Earth</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#mars">Mars</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#jupiter">Jupiter</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#saturn">Saturn</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="#uranus">Uranus</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a class="nav-link" href="/">Gallery</a></li>
              <li><a class="nav-link" href="/">About</a></li>
            </ul>
          </nav>
        </div>
        <div class="nav-end">
          <div class="right-container">
            <form class="search" role="search">
              <input type="search" name="search" placeholder="Search" />
              <i class="bx bx-search" aria-hidden="true"></i>
            </form>
            <a href="{{ url_for('register')}}"><button class="btn btn-primary">Sign Up</button></a>
          </div>

          <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false">
            <i class="bx bx-menu" aria-hidden="true"></i>
          </button>
        </div>
      </div>
 </header>
    <script src="../static/script.js"></script>
      <div class="container_content" >
        {% block content %}
        <div id="base_main">
          <div id="main_left">
            <h1>Nasa Project</h1>
            <p>A little project to showcase NASA data in a nice way in one place. We also offer a variety of other options
               ranging from making a collection of your faverite data to daily fun  facts about space.  </p>
          </div>
        </div>
        <div id="base_content">
          <div class="article">
            <div class="article_base">
                <div id="article_left_first">
                    <img src="../static/assets/telescope.jpg" alt="placeholder" />
                </div>
                <div id="article_right_first">
                    <h1>James Webb Telescope</h1>
                    <p>The James Webb Space Telescope (JWST) is a space telescope designed to conduct infrared astronomy. Its high-resolution and high-sensitivity instruments allow it to view objects too old, distant, or faint for the Hubble Space Telescope. This enables investigations across many fields of astronomy and cosmology, such as observation of the first stars and the formation of the first galaxies, and detailed atmospheric characterization of potentially habitable exoplanets.</p>
                    <a href="https://en.wikipedia.org/wiki/James_Webb_Space_Telescope" target="_blank">Read More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
          </div>
          <div class="article_base">
                <div id="article_left_second">
                   <h1>NASA’s Webb Reveals New Features in Heart of Milky Way</h1>
                    <p>The latest image from NASA’s James Webb Space Telescope shows a portion of the dense center of our galaxy in unprecedented detail, including never-before-seen features astronomers have yet to explain. The star-forming region, named Sagittarius C (Sgr C), is about 300 light-years from the Milky Way’s central supermassive black hole, Sagittarius A*.</p>
                    <a href="https://www.nasa.gov/missions/webb/nasas-webb-reveals-new-features-in-heart-of-milky-way/" target="_blank">Read More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div id="article_right_second">
                    <img src="../static/assets/sagittarius.png" alt="placeholder" />
                </div>
          </div>
            <div class="article_base">
                <div id="article_left_first">
                    <iframe width="280" height="200" src="https://www.youtube.com/embed/V5ac3jktME4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="article_right_first">
                    <h1>NASA Uses Two Worlds to Test Future Mars Helicopter Designs</h1>
                    <p>This video combines two perspectives of the 59th flight of NASA’s Ingenuity Mars Helicopter. Video on the left was captured by the Mastcam-Z on NASA’s Perseverance Mars rover; the black-and-white video on the right was taken by Ingenuity’s downward-pointing Navcam. The flight occurred Sept 16. NASA/JPL-Caltech/ASU/MSSS</p>
                    <a href="https://www.nasa.gov/missions/mars-2020-perseverance/ingenuity-helicopter/nasa-uses-two-worlds-to-test-future-mars-helicopter-designs/" target="_blank">Read More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
          </div>
        </div>
        </div>
          {% endblock %}
      </div>

  <footer class="footer_base">
    <div class="footer">
        <div class="row">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
    </div>

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Career</a></li>
</ul>
</div>

<div class="row">
Space School Project Copyright © 2023 UE Katowice - All rights reserved
</div>
</div>
</footer>
      </div>
    </body>
</html>
