<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Earth - Our Home Planet</title>
    <style>
        body {
            font-size: 20px;
        }

        h1 {
            font-size: 40px;
        }

        p, li {
            font-size: 20px;
        }
    </style>
</head>
<body>

    <h1>Earth</h1>

    <p>Our home planet, Earth, is the third planet from the Sun, and the only place we know of so far that’s inhabited by living things. It's also the only planet in our solar system with liquid water on the surface.</p>

    <ul>
        <li>- Length of Day: 23.9 hours.</li>
        <li>- Length of Year: 365.25 days.</li>
        <li>- Distance from Sun: 93,327,712 miles / 150,196,428 kilometers.</li>
        <li>- One Way Light Time to Sun: 8.350022 minutes.</li>
    </ul>

    <p><strong>Earth</strong>— is only the fifth-largest planet in the solar system, it is the only world with liquid water on the surface. Just slightly larger than nearby Venus, Earth is the biggest of the four planets closest to the Sun, all of which are made of rock and metal.
    Earth is the only planet in the Solar System whose English name does not come from Greek or Roman mythology. The name was taken from Old English and Germanic. It simply means "the ground." There are, of course, many names for our planet in the thousands of languages spoken by the people of the third planet from the Sun.</p>
    <img src="../static/assets/earth.png" alt="Earth">
</body>
</html>
