{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="forms">
    <div class="forms_left">
      <form method="post" class="register">
      <label for="username" class="label">Username</label>
      <input name="username" id="username" required>
      <label for="password" class="label">Password</label>
      <input type="password" name="password" id="password" required>
      <label for="login" class="label">Confirm</label>
      <input type="submit" value="Log In" id="login">
    </form>
    </div>
    <div class="forms_right">

    </div>
  </div>
{% endblock %}