<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars - The Red Planet</title>
    <style>
        body {
            font-size: 20px;
        }

        h1 {
            font-size: 30px;
        }

        p, li {
            font-size: 20px;
        }
    </style>
</head>
<body>

    <h1>Mars</h1>

    <p>Mars, the fourth planet from the Sun, is the only planet we know of inhabited entirely by robots. It's dry, rocky, and bitterly cold. Mars is one of Earth's two closest planetary neighbors, with Venus being the other. Despite its inhospitable conditions for humans, robotic explorers, including NASA's Perseverance rover, are serving as pathfinders to eventually get humans to the surface of the Red Planet.</p>


    <ul>
        <li>- 2 Surface Rovers (+1 Helicopter).</li>
        <li>- 8 Spacecraft in Orbit.</li>
        <li>- day on Mars lasts 24.6 hours.</li>
        <li>- year on Mars is 687 Earth days.</li>

    </ul>

    <p><strong>Mars:</strong>— is no place for the faint-hearted. It’s dry, rocky, and bitterly cold. The fourth planet from the Sun, Mars is one of Earth's two closest planetary neighbors (Venus is the other). Mars is one of the easiest planets to spot in the night sky – it looks like a bright red point of light. Despite being inhospitable to humans, robotic explorers – like NASA's Perseverance rover – are serving as pathfinders to eventually get humans to the surface of the Red Planet.</p>
    <img src="../static/assets/mars.webp" alt="mars">
</body>
</html>
