<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercury - The Closest Planet to the Sun</title>
    <style>
        body {
            font-size: 20px;
        }

        h1 {
            font-size: 30px;
        }

        p, li {
            font-size: 20px;
        }
    </style>
</head>
<body>

    <h1>Mercury</h1>

    <p>Mercury is the closest planet to the Sun and the smallest planet in our solar system.</p>

    <ul>
        <li>- 88 Days in a year.</li>
        <li>- 1 Mission in Progress.</li>
        <li>- Mercury has no moons and rings.</li>
        <li>- Sunlight is 11 times brighter on Mercury.</li>
    </ul>

    <p><strong>Mercury</strong> — the smallest planet in our solar system and nearest to the Sun — is only slightly larger than Earth's Moon. Its surface is covered in tens of thousands of impact craters. From the surface of Mercury, the Sun would appear more than three times as large as it does when viewed from Earth, and the sunlight would be as much as 11 times brighter. Despite its proximity to the Sun, Mercury is not the hottest planet in our solar system— that title belongs to nearby Venus, thanks to its dense atmosphere. But Mercury is the fastest planet, zipping around the Sun every 88 Earth days. Mercury is appropriately named for the swiftest of the ancient Roman gods.</p>

    <img src="../static/assets/mercuryy.jpg" alt="Mercury">
</body>
</html>
