{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Planet Masses{% endblock %}</h1>
{% endblock %}
{% block icon %}
  <link rel="icon" type="image/x-icon" href="../static/assets/chart_icon.svg">
{% endblock %}

{% block content %}
    <div class="diagrams_container">
        <div id="diagrams_container_left">
            <h2>Planet Masses</h2>
        </div>
        <div id="diagrams_container_right">
            <img src="data:image/png;base64,{{ planets_masses_data }}" alt="Planetary Candidates">
        </div>
    </div>
{% endblock %}

