<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venus - Earth's Twin?</title>
    <style>
        body {
            font-size: 20px;
        }

        h1 {
            font-size: 30px;
        }

        p, li {
            font-size: 20px;
        }
    </style>
</head>
<body>

    <h1>Venus</h1>

    <p>Although it's similar in structure and size to Earth, Venus has a thick atmosphere that traps heat in a runaway greenhouse effect, making it the hottest planet in our solar system.</p>

    <ul>
        <li>- 3 Missions on Deck.</li>
        <li>- Venus has no moons or rings.</li>
        <li>-A day on Venus lasts 243 Earth days.</li>
        <li>-A year on Venus lasts 225 Earth days.</li>
    </ul>
    <p><strong>Venus</strong>— often considered Earth's twin, is a scorching planet with a thick, toxic atmosphere. It spins backward, has a longer day than a year, and lacks seasons. Once potentially habitable, it underwent a runaway greenhouse effect, losing all surface water. Today, its volcanic rock surface faces extreme temperatures and pressures, making it inhospitable for life. Despite this, studying Venus provides insights into the conditions necessary for life. The thick clouds high above might offer more favorable conditions. While life on Venus is unlikely, it's not entirely ruled out.</p>
<img src="../static/assets/Venus.jpg" alt="venus">
</body>
</html>
